/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    font-size: 2rem;
}

/* Sección de Pago */
.pago {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.pago h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
}

/* Estilos del Formulario */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 1rem;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    padding: 0.8rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    border-color: #333;
    outline: none;
}

/* Botón de Confirmar Pago */
button[type="submit"] {
    margin-top: 2rem;
    padding: 0.8rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #555;
}

/* Responsividad */
@media (max-width: 600px) {
    .pago {
        padding: 1.5rem;
    }

    header h1 {
        font-size: 1.5rem;
    }

    .pago h2 {
        font-size: 1.5rem;
    }
}
